
<div class="main">
  
  <div class="scenario-info">  

    <div class="toolbar-item">
      <ui-selector-scenario
        [scenarios]="scenarioList$ | async"
        (selectedScenarioId)="this.actionSelectScenario$.next($event)"
      ></ui-selector-scenario>
    </div>
    
    <ng-container *ngIf="currentScenario">
      <div class="toolbar-item">
        <ui-details-scenario [scenario]="currentScenario"></ui-details-scenario>
      </div>

      <div class="toolbar-item" *ngIf="layers$ | async as layers">
        <ui-selector-layers
        [layers]="layers"
        (selectedLayerId)="this.actionSelectedLayer$.next($event)"
        ></ui-selector-layers>
      </div>

      <div class="toolbar-item" >
        <ui-selector-events [events]="events$ | async"></ui-selector-events>
      </div>

      <div class="toolbar-item">Year: {{ currentTime$ | async }}</div>
    </ng-container>

  </div>
  
  <div class="map" *ngIf="currentScenario">
    <map-container
      [mapDetails]="currentScenario.mapData"
      [mapLayersData]="layers$ | async"
    ></map-container>
  </div>
</div>

<!-- TODO -->
<!-- < overlay container to show modals - general form with content projection > -->

<!-- <ui-general-form></ui-general-form> -->