.main {
  height: 100%;
  background-color: rgb(32, 32, 32);
  color: lightgreen;
  overflow: auto;

  .scenario-info {
    height: 150px;
    margin: 10px;
    border: 1px solid lightgreen;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  .map {
    height: calc(100% - 180px);
    margin: 10px;
    border: 1px solid lightgreen;
  }

  .toolbar-item {
    width: 220px;
    min-width: 150px;
  }
}
