:host {
  display: block;
  background-color: rgb(32, 32, 32);
  color: lightgreen;
  position: relative;
  height: 100vh;
}

.scenario-selector {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 200px;
}

.event-selector {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 200px;
}

.toolbar {
  position: absolute;
  top: 16px;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .scenario-details {
    width: 200px;
  }

  .clock {
    width: 200px;
  }
}


.map-container {
  position: absolute;
  bottom: 0;
}
